language: go
go:
  - 1.8
  # - tip
env:
  - DRIVER=amazonec2
  # - AWS_ACCESS_KEY_ID="should be declared in Travis console"
  # - AWS_SECRET_ACCESS_KEY="should be declared in Travis console"
install:
  - go get -t ./...
  - sudo curl -L https://github.com/docker/machine/releases/download/v0.13.0/docker-machine-`uname -s`-`uname -m` > /home/travis/bin/docker-machine && sudo chmod a+x /home/travis/bin/docker-machine
scripts:
  - go test -v
